In [1]:
from jobDescriptionScraper import LinkedInDescriptionScraper
from jobListingScraper import LinkedInJobListingScraper

In [4]:
job_listing_scraper = LinkedInJobListingScraper()
jobs = job_listing_scraper.scrape_linkedin_jobs("Machine Learning Operations MLOps", "India", 50, "linkedincookies.pkl")

Scraping page starting at 0
Scraping page starting at 25

In [5]:
job_description_scraper = LinkedInDescriptionScraper()
jobs['Job Descriptions'] = jobs['Job ID'].apply(lambda x : job_description_scraper.getDescription(job_id=x))

In [6]:
jobs.to_csv('Scraped Jobs MLOps.csv', index=False)

In [7]:
jobs

,Job Title,Job Post Url,Company Name,Location,Job ID,Job Descriptions
0,Senior Machine Learning Engineer,https://www.linkedin.com/jobs/view/4007688246/...,Andela,India (Remote),4007688246,Senior MLOps Engineer\nAndela\nLocation Requir...
1,Generative AI Engineer,https://www.linkedin.com/jobs/view/4009701610/...,Deloitte,"Bengaluru, Karnataka, India (Hybrid)",4009701610,"Hi, We are looking for Candidates who are havi..."
2,"Applied Scientist, International Machine Learning",https://www.linkedin.com/jobs/view/3877288573/...,Amazon,"Bengaluru, Karnataka, India",3877288573,Description\n\nDo you want to join an innovati...
3,Machine Learning Specialist,https://www.linkedin.com/jobs/view/4012120273/...,Cloud4C Services,"Hyderabad, Telangana, India (On-site)",4012120273,DevOPs / MLOPs engineer\nKey Responsibilities\...
4,"Machine Learning Engineer, AI/ML, Search & Dis...",https://www.linkedin.com/jobs/view/4023072153/...,Uplers,India (Remote),4023072153,Experience: 3.00 + years\n\nSalary: INR 629439...
5,Data and Applied Scientist II,https://www.linkedin.com/jobs/view/4011475232/...,Microsoft,"Jammu & Kashmir, India (Hybrid)",4011475232,Microsoft‚Äôs Cloud business is experiencing exp...
6,MLOps Engineer,https://www.linkedin.com/jobs/view/3991631201/...,C5i,"Bengaluru, Karnataka, India (On-site)",3991631201,C5i\nC5i is a pure-play AI & Analytics provide...
7,Cloud Ops with AI/ML,https://www.linkedin.com/jobs/view/3959690795/...,Siemens,"Bengaluru, Karnataka, India (On-site)",3959690795,Hello Visionary!\n\nWe empower our people to s...
8,"Manager II- ML Data Operations, GO-AI",https://www.linkedin.com/jobs/view/4010115141/...,Amazon,"Hyderabad, Telangana, India",4010115141,Description\n\nWant to join the Earth‚Äôs most c...
9,Senior Machine Learning (ML) Engineer,https://www.linkedin.com/jobs/view/3754623735/...,Clario,"Bengaluru, Karnataka, India (Hybrid)",3754623735,ML Engineer having 5+ years Experience with Ma...
10,"Software Engineer III, AI/Machine Learning, Go...",https://www.linkedin.com/jobs/view/3927303947/...,Google,"Bengaluru, Karnataka, India (On-site)",3927303947,Note: By applying to this position you will ha...
11,Sr.Machine Learning Engineer,https://www.linkedin.com/jobs/view/3995692230/...,Intuit,"Bengaluru, Karnataka, India (Hybrid)",3995692230,Overview\n\nIntuit is seeking a Sr MLE to join...
12,Senior ML Ops Engineer,https://www.linkedin.com/jobs/view/4009424729/...,Roche,"Hyderabad, Telangana, India",4009424729,"Roche fosters diversity, equity and inclusion,..."
13,Senior Staff Engineer (Machine Learning),https://www.linkedin.com/jobs/view/3998250652/...,Nagarro,"Bengaluru, Karnataka, India (On-site)",3998250652,Company Description\n\nüëãüèºWe're Nagarro.\n\nWe ...
14,Senior Data & Applied Scientist,https://www.linkedin.com/jobs/view/3991304714/...,Microsoft,"Bengaluru, Karnataka, India (Hybrid)",3991304714,The Product\n\nThe rapid growth of the Microso...
15,Machine Learning Operations Engineer,https://www.linkedin.com/jobs/view/4015689383/...,Uniphore,"Bengaluru, Karnataka, India",4015689383,Uniphore is one of the largest B2B AI-native c...
16,Machine Learning Experts,https://www.linkedin.com/jobs/view/3842081749/...,KPIT,"Bengaluru, Karnataka, India (On-site)",3842081749,Job Description\n\nJD for AI/ML SME\n\nRespons...
17,Sr Machine Learning Engineer,https://www.linkedin.com/jobs/view/4023074539/...,Visa,"Bengaluru East, Karnataka, India",4023074539,Company Description\n\nVisa is a world leader ...
18,Lead Data / ML Engineer-1-R-203168,https://www.linkedin.com/jobs/view/3731951158/...,Mastercard,"Pune, Maharashtra, India (Hybrid)",3731951158,Our Purpose\n\nWe work to connect and power an...
19,MLOps Engineer,https://www.linkedin.com/jobs/view/4025114455/...,KnowDis AI,"New Delhi, Delhi, India (Remote)",4025114455,About KnowDis\nKnowDis Data Science is a leadi...
20,ML Engineer II,https://www.linkedin.com/jobs/view/4023099196/...,Nissan Motor Corporation,"Trivandrum, Kerala, India",4023099196,Nissan is a pioneer in Innovation and Technolo...
21,"ML Data Associate II, AWS Bedrock",https://www.linkedin.com/jobs/view/4023783080/...,Amazon Web Services (AWS),"Bengaluru, Karnataka, India",4023783080,Description\n\nAWS Utility Computing (UC) prov...
22,Senior Machine Learning Engineer - (AI/ML Team...,https://www.linkedin.com/jobs/view/4024073306/...,Warner Bros. Discovery,"Bengaluru, Karnataka, India (On-site)",4024073306,Welcome to Warner Bros. Discovery‚Ä¶ the stuff d...
23,MLOps Engineer,https://www.linkedin.com/jobs/view/4021233648/...,Sun King,"Gurugram, Haryana, India (Remote)",4021233648,The team you would join:\nThe Global Analytics...
24,Senior Data & Applied Scientist Manager,https://www.linkedin.com/jobs/view/3976017531/...,Microsoft,"Hyderabad, Telangana, India (Hybrid)",3976017531,Do you have a passion for applying Data Scienc...
25,Data and Applied Scientist II,https://www.linkedin.com/jobs/view/3977751863/...,Microsoft,"Nagaland, India (Hybrid)",3977751863,Microsoft‚Äôs Cloud business is experiencing exp...
26,Data and Applied Scientist II,https://www.linkedin.com/jobs/view/3977756201/...,Microsoft,"Manipur, India (Hybrid)",3977756201,Microsoft‚Äôs Cloud business is experiencing exp...
27,Data and Applied Scientist II,https://www.linkedin.com/jobs/view/3977757156/...,Microsoft,"Lakshadweep, India (Hybrid)",3977757156,Microsoft‚Äôs Cloud business is experiencing exp...
28,Data and Applied Scientist II,https://www.linkedin.com/jobs/view/3977752787/...,Microsoft,"Meghalaya, India (Hybrid)",3977752787,Microsoft‚Äôs Cloud business is experiencing exp...
29,"Machine Learning Engineer, AI/ML, Search & Dis...",https://www.linkedin.com/jobs/view/4023065738/...,Uplers,"Dehradun, Uttarakhand, India (Remote)",4023065738,Experience: 3.00 + years\n\nSalary: INR 629439...
30,"ML Data Associate II, AWS Bedrock",https://www.linkedin.com/jobs/view/3978501042/...,Amazon Web Services (AWS),"Bengaluru, Karnataka, India",3978501042,Description\n\nAWS Utility Computing (UC) prov...
31,"ML Data Associate II, AWS Bedrock",https://www.linkedin.com/jobs/view/4023779404/...,Amazon Web Services (AWS),"Chennai, Tamil Nadu, India",4023779404,Description\n\nAWS Utility Computing (UC) prov...
32,Machine Learning Scientist,https://www.linkedin.com/jobs/view/3975183986/...,PayPal,"Bengaluru, Karnataka, India",3975183986,The Company\nPayPal has been revolutionizing c...
33,ML Enablement Engineer,https://www.linkedin.com/jobs/view/4025403128/...,Ford Motor Company,"Chennai, Tamil Nadu, India (Hybrid)",4025403128,Job Description\n\nData Platform Engineering T...
34,Sr. Staff Data Engineer ( Data Platform),https://www.linkedin.com/jobs/view/3902960507/...,Warner Bros. Discovery,"Hyderabad, Telangana, India (On-site)",3902960507,Welcome to Warner Bros. Discovery‚Ä¶ the stuff d...
35,ML Ops Specialist,https://www.linkedin.com/jobs/view/4020354076/...,Deloitte,"Bengaluru, Karnataka, India (Hybrid)",4020354076,"Hi, We are looking for Candidates who are havi..."
36,Machine Learning Operations Engineer,https://www.linkedin.com/jobs/view/3987592367/...,"Lytx, Inc.",Greater Bengaluru Area (Hybrid),3987592367,"As our Machine Learning Operations Engineer, y..."
37,MLOps Engineer,https://www.linkedin.com/jobs/view/4021602495/...,Blend,"Hyderabad, Telangana, India (On-site)",4021602495,Responsibilities\n\nMaintain and extend existi...
38,Machine Learning Engineer II,https://www.linkedin.com/jobs/view/3959053002/...,Uber,"Hyderabad, Telangana, India",3959053002,What The Candidate Will Need / Bonus Points\n\...
39,Machine Learning Specialist,https://www.linkedin.com/jobs/view/3993601916/...,JIITAK Inc.,"Kochi, Kerala, India (On-site)",3993601916,JIITAK Inc. is a growing software development ...
40,AI ML Engineer,https://www.linkedin.com/jobs/view/4022383124/...,Qualcomm,"Hyderabad, Telangana, India",4022383124,Company\n\nQualcomm India Private Limited\n\nJ...
41,Machine Learning Research Engineer - Generativ...,https://www.linkedin.com/jobs/view/3905509190/...,AMD,"Bengaluru, Karnataka, India (On-site)",3905509190,WHAT YOU DO AT AMD CHANGES EVERYTHING\n\nWe ca...
42,MLOps Engineer,https://www.linkedin.com/jobs/view/4002624755/...,Ascendion,"Pune, Maharashtra, India (Hybrid)",4002624755,About Ascendion\nAscendion is a full-service d...
43,Senior Machine Learning Engineer,https://www.linkedin.com/jobs/view/4012407133/...,Warner Bros. Discovery,"Hyderabad, Telangana, India (On-site)",4012407133,Welcome to Warner Bros. Discovery‚Ä¶ the stuff d...
44,Observability SRE,https://www.linkedin.com/jobs/view/3967355817/...,Jefferies,Mumbai Metropolitan Region,3967355817,Job Description\n\nRole Summary:\n\nThis posit...
45,Applied Data Scientist/ ML Engineer (Python/SQ...,https://www.linkedin.com/jobs/view/3991687595/...,SAP,"Bengaluru East, Karnataka, India (Hybrid)",3991687595,"We help the world run better\n\nAt SAP, we ena..."
46,Principal Engineer (Machine Learning),https://www.linkedin.com/jobs/view/3998250650/...,Nagarro,India (Remote),3998250650,Company Description\n\nüëãüèºWe're Nagarro.\n\nWe ...
47,AI/ML Data Engineer,https://www.linkedin.com/jobs/view/4009269338/...,UST,"Bengaluru, Karnataka, India (On-site)",4009269338,Opportunity:\nJob description\n‚Ä¢ Develop and i...
48,Senior Data Scientist,https://www.linkedin.com/jobs/view/3972084844/...,Warner Bros. Discovery,"Hyderabad, Telangana, India (On-site)",3972084844,Welcome to Warner Bros. Discovery‚Ä¶ the stuff d...
49,Machine Learning Engineer,https://www.linkedin.com/jobs/view/3984429270/...,Qualcomm,"Hyderabad, Telangana, India",3984429270,Company\n\nQualcomm India Private Limited\n\nJ...